.grocery-details {
  width: 200px;
  height: 300px;
  background-color: var(--primary-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.grocery-details img {
  /*width: 100%;
  height: auto;
  max-height: 70%;*/
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  padding-bottom: 10px;
}

.grocery-details p {
  margin-top: 10px;
  font-size: 16px;
}
