html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

footer {
  margin-top: 2rem;
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Nav links */

a:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}
